body {
  background-color: #333;
  color: #fff;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
}

.formulario {
  margin: 20px;
  padding: 20px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

h2 {
  text-align: center;
  color: #00bcd4;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}
option{
  color: black;
  background-color: transparent;
}
input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #00bcd4;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #00bcd4;
  color: #fff;
}

#tablaUsuarios {
  margin: 20px;
  width: 60%;
  border-collapse: collapse;
}

#tablaUsuarios th, #tablaUsuarios td {
  padding: 10px;
  border: 1px solid #00bcd4;
}

#tablaUsuarios th {
  background-color: #00bcd4;
  color: #333;
}
